<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Создаватель</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav bar.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/MegaSiteMVC.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header class="header">
        <input type="checkbox" id="nav-toggle" hidden>
        <div class="nav">

            <label for="nav-toggle" class="nav-toggle" onclick></label>

            <a asp-area="" asp-controller="Home" asp-action="Index" class="header__logo">
                <img class="header__logo" src="/images/Logo.png" alt="LOGO">
            </a>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <li><a asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
                <li><a asp-area="" asp-controller="Home" asp-action="TableNotes">Note table</a>
                <li><a href="#4">Contact</a>
                <li><a href="#5">Search</a>
                <li><a href="#6">Cart</a>
                <li><a href="#7">Profile</a>
                <li><a href="#7">Likes</a>
            </ul>
        </div>
        <div class="header__main">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="header__logo">
                <img class="header__logo" src="/images/Logo.png" alt="LOGO">
            </a>
            <form class="search__item" asp-controller="Products" asp-action="Filter" method="get">
                <input name="searchString" type="text" class="search__line" placeholder="Search for a product..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="search__button" type="submit"><img src="/images/loup.png" alt="search!"></button>
            </form>
            <partial name="_Identity.cshtml" />
        </div>
        <ul class="navbar">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar__item">Home</a></li>
            <li><a asp-area="" asp-controller="Products" asp-action="Index" class="navbar__item">Shop</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="TableNotes" class="navbar__item">Note table</a></li>
            <li><a href="#links" class="navbar__item">Contact</a></li>
        </ul>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer class="border__top">
        <div>
            &copy; 2022 - Создаватель - <a href="#">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
