@{
    ViewData["Title"] = "Home Page";
}

<div class="title__block">
    <h3>Table notes</h3>
    <h2>Make it now!</h2>
    <a asp-area="" asp-controller="Home" asp-action="TableNotes" class="white__button">Make notes</a>
</div>