@{
    ViewData["Title"] = "Table notes";
}

<div class="tools">
    <button onclick="TryCreateTable()" class="black__button tool" id="createTableButton">Creat table</button>
    <button onclick="AddRow()" class="black__button tool" id="addRowButton">Add row</button>
    <button onclick="RemoveRow()" class="black__button tool" id="removeRowButton">Remove row №</button>
    <input class="number__input tool" type="text" name="lineIndex" id="lineIndex">
</div>
<div id="tableContainer">
    @*Здесь будет таблица*@
</div>
<script src="~/js/tableNotes.js"></script>
